*{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
}


body{
    background-color: wheat;
}

main{
    width: 90%;
    background-color: rgb(206, 205, 205);
    margin: 0 auto 0 auto;
    margin-top: 10px;
}

header{
    background-color: white;
    text-align: center;
    box-shadow: 0 1 2;
    padding: 20px;
    
}

section{

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    
}

p{
    padding: 7px;
    font-size: large;
}

a{
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    list-style: none;
    gap: 30px;
    padding-left: 20px;
}

#jellemzok{
    font-size: 15px;
    list-style: circle;
}

img{
    width: 350px;
    margin: 0 auto 0 auto;
    
}

div{
    box-shadow: 0 4 5;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    box-shadow: 2 5 8;
    border-radius: 15px;
    
}

#LeftDiv{

    
    width: 30%;
    
}

#RightDiv{
    
    padding-left: 50px;
    padding-right: 50px;
    background-color: whitesmoke;
    width: 60%; 
}

#Cim.a{
    font-size: 30px;
    font-weight: bold;
}

#kvizek{
    padding: 1;
}